body {
  min-width: 855px;
  margin: auto;
  padding-left: 10%;
  background-color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2.0em;
  color:#363636;
}

code {
  font-size: 1.1em;
}
a {
  color: #4a5d75;
  text-decoration: none;
}
a:hover {
  color: #369;
  text-decoration: underline;
}
h1 {
  color:#243446;
  font-size: 2.25em;
}
h2 {
  font-size: 1em;
}
h3 {
  color:#243446;
}
h4 {
}
h5 {
}
h6 {
}

label {
  float: left;
  width: 15%;
  margin-left: 20px;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
  color:#363636;
}
input {
  margin-bottom: 0px;
}

.registration {
  background-color:#E6E7E8;
  clear:both;
  padding: 5%;

}

.registration .header a {
  color:#94aebd;
}

.registration tfoot {
	height: 10px;
  font-size: 7px;
  background-color: #EAECEE;
  text-align: center;
}

.registration label {
  font-size: 0.7em;
}

.registration button {
  alignment: right;
}

.registration .subheader {
  background-color: #e6e7e8;
  font-size:7px;
  color:#000000;
  text-align:left;
}

.registration td a:hover {
  color:#3883ce;
  text-decoration:none; 
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
  font-size: 0.7em;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;

}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;

}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;

}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}

.delete {
  font-size: 0.5em;
}

.alerts {
  font-size : 0.7em;
}

.no-display {
  display: none;
}

.list {
  clear:both;
}

.listbook {
  float: left;
  width:70%;
}

.fullreg {
  width: 28%;
  float: right;
  padding-right: 5%;
}

.registration input {
  width : 95%;
}

.blue {
  background-color: black;
}

.pink {
  background-color: pink;
}

.row {
  width: 100%;
}

.tablehead {
  height: 1.9em;
}

.all {
  min-width: 895px;
}























